.general {
    background-color: white;
    width: 100%;
}

.general .container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 90%;
}

.general .card {
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    background-color: #eba628;
    border: 3px solid #094375;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
}

.general .card:hover {
    box-shadow: 0px 0px 20px 2px #094375;
    transform: scale(1.01);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.general .card .titulo-card {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.card-header .icon {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s;
}

.card-content {
    display: none;
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 15px;
    width: 100%;
}

.general .card p {
    text-align: left;
    color: white;
    line-height: 1.4;
    font-size: 1rem;
    margin: 0;
}

.general .card.active {
    background-color: #094375;
    border-color: #eba628;
}

.general .card.active .card-content {
    display: block;
    animation: fadeIn 0.5s;
}

.general .card.active .icon {
    transform: rotate(45deg);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 960px) {
    .general .container {
        flex-direction: column;
    }
}