footer{
    /*background-image: url(../../utils/images/global/FooterBanner.jpg);*/
    background-color: #094375;
    /*padding: 20px;*/
    padding: 2.7rem 0;
}
footer .container{
    display: flex;
    color: white;

    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}
footer .container ul{
    width: 50%;
    list-style: none;
}
footer .container h3{
    margin-bottom: 16px;
    /*font-weight: 600;*/
}
footer .container .redes-sociais img{
    margin-right: 10px;
    width: 30px;
}
footer .container ul > p{
    margin-bottom: 20px;
    margin-right: 30px;
}
footer .container li{
    margin: 10px 0;
}
footer .container a{
    color: white;
    text-decoration: none;
    /*font-weight: 600;*/
}

@media (max-width: 960px){
    footer .container{
        flex-direction: column;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}