.about .container{
    /*max-width: 1440px;*/
    padding: 0 5%;
    margin: 0 auto;
    background-color: #094375;
    padding-bottom: 5%;
}

.about h2{
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-size: 4rem;
}

.about .ul-about{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.about .ul-about li{
    display: flex;
    align-items: center;
    text-align: center;
    width: 49%;
}

.about .ul-about li img{
    width: 15%;
    padding: 1%;
    height: auto;
}

.about .ul-about li div{
    width: 80%;
    height: auto;
}

.about .ul-about li h2{
    padding: 0%;
    padding-bottom: 2%;
    font-size: 2rem;
}

.about .ul-about li p{
    /* margin-bottom: 15%; */
    color: white;
    font-size: 1rem;
    line-height: 1.2;
    text-align: justify;
}

@media (max-width: 1000px) {
    .about .ul-about li{
        width: 100%;
    }

    .about .ul-about li h2{
    font-size: 1.2rem;
    }

    .about .ul-about li p{
        font-size: 0.8rem;
        line-height: 1.2;
    }

    .about h2{
        font-size: 3rem;
    }
}

@media (max-width: 550px){
    .about .ul-about li h2{
        font-size: 0.8rem;
    }

    .about .ul-about li p{
        font-size: 0.5rem;
        line-height: 1.2;
    }

    .about h2{
        font-size: 2rem;
    }
}