.description{
    background-color: #094375;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description h2{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 1000px){
    .description h2{
        font-size: 1rem;
    }
}
@media (max-width: 550px){
    .description h2{
        font-size: 0.6rem;
    }
    .description{
        padding: 10px;
    }
}