.general {
    background-color: white;
    width: 100%;
}

.general .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 90%;
}

.general .card {
    width: 32%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    background-color: #eba628;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.general .card p{
    text-align: justify;
    color: white;
    line-height: 130%;
}

.general .card:hover {
    box-shadow: 0px 0px 50px 2px #000;
}

.general .card .titulo-card {
    margin: 10px 0;
    font-weight: 600;
    font-size: 200%;
    color: white;
}

@media (max-width: 960px){
    .general .container{
        flex-direction: column;
    }
    .general .card{
        width: 100%;
        margin-top: 10px;
    }
}