.main-img-wrapper {
    /*width: 100vw;*/
    width: 100%;
    
    aspect-ratio: 3 / 2;
    
    background-image: url(../../../../utils/images/pages/index/MainImage.png);
    
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.main-text{
    background-color: rgb(235, 166, 40, 0.8);
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

main .container {
    max-width: 1440px;
    width: 100%;

    padding: 0 5%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-text {
    margin-top: -10%;
    width: 70%;
    color: white;
}

.main-text h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-text h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.2;
}

.main-text .rectangle{
    background-color: white;
    margin-top: 2%;
    width: 10%;
    height: 5px;
}

@media (max-width: 1500px){
    .main-text {
        margin-top: 10%;
    }
}

@media (max-width: 1000px){
    .main-text {
        margin-top: 10%;
    }
    .main-text h1 {
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .main-text h2 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .main-text .rectangle{
        width: 10%;
        height: 5px;
    }
}

@media (max-width: 550px){
    .main-text {
        margin-top: 10%;
    }
    .main-text h1 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .main-text h2 {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .main-text .rectangle{
        width: 10%;
        height: 2px;
    }
}