.services .container{
    /*max-width: 1440px;*/
    padding: 0 5%;
    margin: 0 auto;
    background-color: white;
}

/*
.services nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
*/

.services h2{
    text-align: center;
    padding: 5%;
    color: #eba628;
    font-size: 4rem;
}

.services .ul-services{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: center;
}

.services .ul-services li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.services .ul-services li img{
    width: 100%;
    height: auto;
}

.services .ul-services li h2{
    margin: 15%;
    padding: 0%;
    font-size: 2rem;
}

.services .ul-services li p{
    margin-bottom: 15%;
    color: #eba628;
    font-size: 1rem;
    line-height: 1.2;
}

@media (max-width: 1000px) {
    .services .ul-services li{
        width: 45%;
    }

    .services .ul-services{
        flex-wrap: wrap;
    }

    .services .ul-services li h2{
    font-size: 1.2rem;
    }

    .services .ul-services li p{
        font-size: 0.8rem;
        line-height: 1.2;
    }

    .services h2{
        font-size: 3rem;
    }
}

@media (max-width: 550px){
    .services .ul-services li h2{
        font-size: 0.8rem;
    }

    .services .ul-services li p{
        font-size: 0.5rem;
        line-height: 1.2;
    }

    .services h2{
        font-size: 2rem;
    }
}