.general {
    background-color: white;
    width: 100%;
}

.general .container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 90%;
}

.general .card {
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    background-color: #eba628;
    border:  solid #094375; 
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box; 
}

.general .card p {
    text-align: left; 
    color: white;
    line-height: 130%;
}

.general .card h3 {
    color: white;
    line-height: 130%;
    text-align: left; 
}

.general .card:hover {
    box-shadow: 0px 0px 30px 5px black;
    transform: scale(1.01);
}

.general .card .titulo-card {
    margin: 0px 0;
    font-weight: 600;
    font-size: 150%;
    color: white;
}

@media (max-width: 960px) {
    .general .container {
        flex-direction: column;
    }
    .general .card {
        width: 100%;
        margin-top: 10px;
    }
    .general .container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 10px;
        max-width: 90%;
    }
}