@import './partials/description.css';
@import './partials/main-img.css';
@import './partials/services.css';
@import './partials/about.css';
@import './partials/general.css';

@import '../../global/global.css';
@import '../../global/menu-header.css';